body{
margin:0;
background:#090909;
color:white;
font-family:Arial,sans-serif;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}

.container{
width:90%;
max-width:700px;
background:#121212;
border-radius:20px;
padding:30px;
box-shadow:0 0 30px rgba(255,255,255,.05);
}

h1{
text-align:center;
margin-bottom:25px;
}

button{
width:100%;
padding:16px;
background:white;
color:black;
border:none;
border-radius:12px;
font-size:18px;
cursor:pointer;
}

button:hover{
opacity:.9;
}

#result{
margin-top:25px;
background:#1b1b1b;
padding:20px;
border-radius:15px;
line-height:1.8;
word-break:break-word;
}

h2{
margin-top:0;
}
.info{
background:#1b1b1b;
padding:14px;
border-radius:14px;
margin-bottom:12px;
display:flex;
align-items:center;
gap:15px;
}

.info b{
min-width:130px;
}

.info span{
flex:1;
word-break:break-word;
text-align:right;
}
@media(max-width:600px){

.container{
width:90%;
padding:20px;
}

h1{
font-size:26px;
}

.info{
display:block;
padding:12px;
}

.info b{
display:block;
margin-bottom:6px;
font-size:14px;
}

.info span{
display:block;
text-align:left;
font-size:14px;
}

button{
font-size:15px;
}

.search{
flex-direction:column;
}

input{
width:100%;
}

}